# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/
.DS_Store

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.vscode/

#folder 
*/not_used/